<br>
<h2>Lista de postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button class="btn btn-primary">Nova postagem</button></a>


{{#each postagens}}

    <div class="card">
        <div class="card-body">
            <h4>{{titulo}} </h4>
            <p>{{descricao}}</p>
            <p>{{conteudo}}</p>
            <small>{{data}}</small>  
            <small>{{categoria}}</small>
            <br>
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-success mt-2">Editar postagem</button></a> 

            <form action="/admin/postagens/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar postagem</button>
            </form> 
        </div>
    </div>
{{else}}
    <p>Nenhuma postagem registrada!</p>
{{/each}}